@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

*::selection {
  background-color: #f53b57;
  color: white;
}

*, button, input {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #1e272e;
  color: white;
}